gunicorn
firebase-admin
Flask
keras
Pillow
numpy
CacheControl
cachetools
certifi
cffi
charset-normalizer
cryptography
firebase-admin
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
gunicorn
httplib2
idna
msgpack
packaging
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
PyJWT
pyparsing
requests
rsa
uritemplate
urllib3
tensorflow
